extends layout

block content
  h1 PORTFOLIO

  .columns
    aside.column.is-2.menu
      p
        a.menu-label(href='#about') about
      p
        a.menu-label.is-active(href='#repos') repos
      each repo in repos
        ul.menu-list
          li
            a(href='#' + repo.name) #{repo.name}
      p
        a.menu-label(href='#contact') contact
    section.column.is-9.section
      .section.hero.is-fullheight.is-primary#about
         p.title  about
      .section#repos
          each repo in repos
            .container.is-fluid(id = repo.name )
              article.media.notification.is-light.my-rounded
                figure.media-left
                  img.rounded(src='' alt='found one')
                div.media-content
                  div.content
                     h2 #{repo.name}
                     p #{repo.description}
                     .level
                       a(href=repo.home) live
                       a(href=repo.html_url) code is on GitHub
                  .level
                    .tags
                      each lang in repo.languages
                        span.tag.is-primary #{lang}
                    if repo.forks
                      .tags.has-addons
                        span.tag.is-warning forks:
                        span.tag.is-primary #{repo.forks}
      .section#contact
        include contact-form
    .column.is-1
